<app-navbar></app-navbar>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Fútbol API</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
          <li class="breadcrumb-item active">Fútbol API</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-primary navbar-dark">
          <!-- Botón de Hamburguesa -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item" *ngIf="false">
                <a
                  routerLink="competitions"
                  routerLinkActive="active"
                  class="nav-link"
                  >Competitions</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="teams" routerLinkActive="active" class="nav-link"
                  >Equipos</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLink="players"
                  routerLinkActive="active"
                  class="nav-link"
                  >Jugadores</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLink="matches"
                  routerLinkActive="active"
                  class="nav-link"
                  >Partidos</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
