<div *ngIf="isLoading" class="overlay">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Equipos</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field class="col-2">
        <mat-label>Competición:</mat-label>
        <mat-select
          [(ngModel)]="competition"
          (ngModelChange)="getTeams()"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let item of competitions" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <table
        class="table table-sm table-hover dataTable dtr-inline text-center"
      >
        <thead>
          <th>Escudo</th>
          <th>Nombre</th>
          <th>Estadio</th>
          <th>DT</th>
          <th>Fundación</th>
          <th>Nombre corto</th>
          <th>Acciones</th>
        </thead>
        <tbody *ngFor="let team of teams">
          <td><img [src]="team.crest" style="height: 32px; width: 32px" /></td>
          <td>{{ team.name }}</td>
          <td>{{ team.venue }}</td>
          <td>{{ team.coach.name }}</td>
          <td>{{ team.founded }}</td>
          <td>{{ team.tla }}</td>
          <td>
            <button class="btn" (click)="viewPlayers(team)">
              <i class="fa-solid fa-eye"></i>
            </button>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
